* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Source Sans Pro', sans-serif;
}

/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
/* NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR --- NAVBAR */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.logoname {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
}

#face {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
    
}

.name {
    margin-top: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.links {
    justify-content: center;
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    margin: 15px;
}

.container {
    margin-top: 80px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}


/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
/* FIRST PART --- FIRST PART --- FIRST PART --- FIRST PART --- */
.first_part_me {
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: rgb(255, 244, 148);
    background-image: url('fond4.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

.logos {
    /* border: 2px solid rgb(197, 207, 252); */
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 300px;
    align-self: center;
    display: flex;         /* Active le Flexbox */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap;        
}

.logos a i {
    font-size: 30px; 
    margin: 10px 0;  
    color: #9eb5ca;
    transition: background-color 0.3s;
}

.logos a i:hover {
    background-color: #9eb5ca;
    color: #ffffff;
}

.logos2 {
    /* border: 2px solid rgb(197, 207, 252); */
    border-radius: 10px;
    /* background-color: white; */
    width: 180px;
    height: 50px;
    /* align-self: center; */
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* flex-wrap: wrap;         */
}

.logos2 a i {
    font-size: 40px; 
    margin: 10px 0;  
    color: #9eb5ca;
    transition: background-color 0.3s;
}

.logos2 a i:hover {
    background-color: #9eb5ca;
    color: #ffffff;
}

.buttonToProjects {
    background-color: #9eb5ca;
    color: white;
    border-radius: 10px;
    font-weight:bold;
    width: 200px;
    height:50px;
    /* text-align: center; */
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
    transition: background-color 0.3s;
}

.buttonToProjects:hover {
    background-color: white;
    color: #9eb5ca;
}

a.anav {
    background-color: #9eb5ca;
    color: white;
    text-decoration: none;
    padding: 5px 15px;  
    border-radius: 10px; 
    margin: 5px;  
    display: inline-block;  
    font-size: 0.9em; 
    transition: background-color 0.3s; 
}

a.anav:hover {
    background-color: white;
    color: #9eb5ca;
}

a.button{
    display:block;
    color:#000000;
    font-weight:bold;
    height:30px;
    text-align: center;
    text-decoration:none;
    padding: 10px 30px 25px 30px;
}

a:hover.button{
    color:#0066CC;
    background-color: #c6ee86;
}


.intro {
    /* border: 2px solid rgb(0, 47, 255); */
    width: 95%;
    height: 500px;
    display: flex; /* afficher les éléments dans une ligne flex */
    flex-direction: column;
    justify-content: center; /* centrer horizontalement les éléments */
    align-items: center; /* centrer verticalement les éléments */
    padding-top: 180px;
    background-size: cover;  /* couvre toute la zone de l'élément */
    background-position: center;  /* centre l'image */
    background-repeat: no-repeat;  /* empêche la répétition de l'image */
}

/* .outro {
    border: 2px solid rgb(0, 47, 255);
    width: 300px;
} */

.title {
    /* border: 2px solid rgb(0, 255, 85); */
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 900;
    /* font-weight: bolder; */
    justify-content: center;
    margin: 0px 10px;
    padding: 20px;
}

.semititle {
    /* border: 2px solid rgb(0, 255, 85); */
    font-size: 1.3rem;
    justify-self: center;
    text-align: center;
    margin: 0px 10px 40px 10px;
    padding: 20px;
}

.button {
    /* border: 2px solid rgb(0, 255, 85); */
    border-radius: 10px;
    margin: 10px;
}

.mouse {
    width: 25px;
    height: 40px;
    margin-top: 100px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    /* animation: wheel 1.3s infinite; */
}

@keyframes wheel {
    0%, 100% {
        top: 7px;
        opacity: 1;
    }
    50% {
        top: 15px;  /* ajustez cette valeur pour définir la distance que le point devrait parcourir vers le bas */
        opacity: 0.5;
    }
}


/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
/* SECOND PART --- SECOND PART --- SECOND PART --- SECOND PART --- */
.part2 {
    height: 112vh;
    background-color: #9eb5ca;
    display: flex;
    flex-direction: column;
}
.second_part_about_me {
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: #9eb5ca;
    display: flex;
    justify-content: space-around;
}

.aboutme {
    /* border: 2px solid rgb(0, 47, 255); */
    background-color: #9eb5ca;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.aboutme p {
    font-size: 1.2rem;
    line-height: 1.7;
    width: 700px;
    margin-bottom: 150px;
    /* padding: 0 20px; */
}

/* #about_me_header {
    margin-top: 30px;
    margin-bottom: 20px;
} */
#about_me_header {
    margin-top: 110px; 
    padding-top: 80px;
    margin-bottom: 20px;
    position: relative;
}


h2 {
    /* border: 2px solid rgb(0, 255, 85); */
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.trait {
    height: 5px;
    background-color: lightgrey;
    width : 50px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Pour s'assurer qu'il est traité comme un bloc */
}

.get_to_know_me {
    /* border: 2px solid rgb(0, 47, 255); */
    width: 35%;
    padding: 20px;
    margin-left: 150px;
}

.get_to_know_me h2 {
    margin-bottom: 30px;
}

.get_to_know_me p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 30px;
}


.get_to_know_me div {
    background-color: #f5f5f5;
    color: #000000;
    border-radius: 10px;
    font-weight:bold;
    width: 200px;
    height:50px;
    /* text-align: center; */
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    transition: background-color 0.3s;
}

.get_to_know_me div:hover {
    background-color: #698aa8;
    color: white;
}

h3 {
    /* border: 2px solid rgb(0, 255, 85); */
}

p {
    /* border: 2px solid rgb(0, 255, 85); */
}

.myskills {
    /* border: 2px solid rgb(0, 47, 255); */
    width: 35%;
    padding: 20px;
    margin-right: 200px;
}

.myskills h2 {
    margin-bottom: 20px;
}

h3 {
    /* border: 2px solid rgb(0, 255, 85); */
}

.skills {
    /* border: 2px solid rgb(0, 255, 85); */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    
}

.skill {
    padding: 7px 20px; 
    border-radius: 10px; 
    margin: 7px;    
    height: 30px;   
    display: flex; 
    align-items: center; 
    background-color: #f5f5f5; 
    color: #666;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 0.3s; 
}

.skill:hover {
    background-color: white;  
}


/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
/* THIRD PART --- THIRD PART --- THIRD PART --- THIRD PART --- */
.third_part_projects {
    height: 250vh;
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: rgb(255, 244, 148);
    background-image: url('fond7.avif');
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.projectstitle {
    /* border: 2px solid rgb(0, 47, 255); */
    /* background-color: #9eb5ca; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.projectstitle h2 {
    margin-bottom: 20px;
}

.projectstitle p {
    font-size: 1.2rem;
    line-height: 1.7;
    width: 700px;
    /* margin-bottom: 150px; */
}

.third_part_projects div[class^="pic"] img {
    max-width: 100%;
    height: auto;
    display: block;
}

.portfolio {
    /* border: 2px solid rgb(0, 47, 255); */
    margin: 50px 0;
}

.portfolio .buttonP {
    background-color: #666;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 23px;
    text-align: center;
    text-decoration: none;
}
.project1 {
    /* border: 2px solid rgb(0, 255, 85); */
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
}

.pic1 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 45%;
}

.nameproject1 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    gap: 10px;
}

.nameproject1 h2 {
    margin-bottom: 30px;
}

.nameproject1 p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.project2 {
    /* border: 2px solid rgb(0, 255, 85); */
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.pic2 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 45%;
}

.nameproject2 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    gap: 10px;
}

.nameproject2 h2 {
    margin-bottom: 30px;
}

.nameproject2 p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.project3 {
    /* border: 2px solid rgb(0, 255, 85); */
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.pic3 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 45%;
}

.nameproject3 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    gap: 10px;
}

.nameproject3 h2 {
    margin-bottom: 30px;
}

.nameproject3 p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.project4 {
    /* border: 2px solid rgb(0, 255, 85); */
    display: flex;
    justify-content: space-around;
}

.pic4 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 45%;
}

.nameproject4 {
    /* border: 2px solid rgb(255, 0, 106); */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    gap: 10px;
}

.nameproject4 h2 {
    margin-bottom: 30px;
}

.nameproject4 p {
    font-size: 1.1rem;
    line-height: 1.7;
}



/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */
/* FORTH PART --- FORTH PART --- FORTH PART --- FORTH PART --- */

.forth_part_contact {
    height: 100vh;
    /* border: 2px solid rgb(255, 0, 0); */
    /* background-color: rgb(158, 146, 161); */
    /* background-image: url('fondn.avif'); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* padding: 40px 0; */
    background-color: #d9d9fc; 
}

.contactform {
    /* border: 2px solid rgb(0, 47, 255); */
    width: 40%; /* une largeur maximale pour le texte et le trait */
    text-align: center;
    margin-bottom: 20px;
}

.contactform h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contactform p {
    margin-bottom: 20px;
    color: #666;
    
}

.form {
    /* border: 2px solid rgb(0, 47, 255); */
    border-radius: 10px;
    width: 50%;
    /* padding-left: 50px; */
    /* max-width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 0px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    margin-bottom: 10px;
    color: #333;
}

.inputname, .inputmail, .inputmessage {
    width: 80%; /* Utilise toute la largeur disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* arrondit les coins */
    outline: none; /* supprime la bordure bleue lors de la mise au point */
    font-size: 1em;
    background-color: #e0e0e0;
}

.inputmessage {
    resize: vertical; /* permet à l'utilisateur de redimensionner le textarea verticalement */
    min-height: 100px; /* définir une hauteur minimale pour le textarea */
}

.submit-button {
    padding: 10px 20px;
    background-color: #9eb5ca;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #ccc; /* une version légèrement plus foncée de #c6ee86 pour le survol */
}

.logos3 {
    width: 460px;
    height: 50px;
    border-radius: 10px;
}

.logos3 a {
    display: inline-block;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #474747;
    transition: background-color 0.3s;
}

.logos3 a:hover {
    background-color: #ffffff;
    color: #9eb5ca;
}

.logos3 a i {
    font-size: 40px;
    margin-right: 10px;
}

.logos3 a span {
    font-size: 20px;
    vertical-align: middle;
}

/* 
#name {
    border: 2px solid rgb(0, 255, 85);
}

#mail {
    border: 2px solid rgb(0, 255, 85);
}

#message {
    border: 2px solid rgb(0, 255, 85);
} */


/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
/* FOOTER --- FOOTER --- FOOTER --- FOOTER --- */
footer {
    /* border: 2px solid red; */
    background-color: #f5f5f5;
    background-image: url('fondn.avif');
    color: white;
    height: 300px;
    display: flex;              /* Ajoutez ceci */
    flex-direction: column;    /* Ajoutez ceci si vous voulez les empiler verticalement */
    justify-content: center;   /* Pour le centrage horizontal */
    align-items: center;       /* Pour le centrage vertical */

}

.footup {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;    /* Centrage vertical */
    width: 70%;
    height: 200px;
    /* padding: 0 50px 0 50px; */
}

.footbottom {
    /* border: 2px solid red; */
    text-align: center;
    width: 70%;
    display: flex;          /* Ajoutez ceci */
    align-items: center;    /* Centrage vertical */
    justify-content: center;/* Centrage horizontal, si nécessaire */
    height: 100px;
    margin-top: auto;
}

.footleft {
    width: 40%;
}